html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

body{
  background:  #1F497D;
}

fieldset {
  font-family: sans-serif;
  border: 5px solid #1F497D;
  margin:auto;
  margin-left: 100px;

  margin-right: 100px;
}
#fieldset1{
 font-family: sans-serif;
 border: 5px solid #1F497D;
 margin:auto;
 box-shadow: 0 0 0 5px #ddd;
 margin-left: 50px;
 margin-right: 50px;
 font-size: 10px;
}

fieldset legend {
  background: #1F497D;
  color: #fff;
  padding: 2px 10px ;
  font-size: 20px;
  border-radius: 2px;
  box-shadow: 0 0 0 5px #ddd;
}

h1 {
  background: #1F497D;
  color: #fff;
  padding: 5px 10px ;
  font-size: 32px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #ddd;
  margin-left: 20px;
  margin-right: 20px;
  text-align:center
}

label {
  color: #fff;
  padding: 5px 10px ;
  font-size: 20px;
  margin-left: 20px;
  text-align:right;
}

h3 {
  color: #fff;
  padding: 2px 10px ;
  font-size: 20px;
  margin-left: 10px;
  text-align:left;
}

input#bigbutton {
  width:150px;
  background: #fff; /*the colour of the button*/
  padding: 8px 14px 10px; /*apply some padding inside the button*/
  border:1px solid #3e9cbf; /*required or the default border for the browser will appear*/
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  /*style the text*/
  font-size:1.5em;
  font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
  letter-spacing:.1em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
  color:  #1F497D;

  /*give the corners a small curve*/
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.labels {
 color: red;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-align: center;    
 white-space: nowrap;
}

.labels1 {
 color: black;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-align: center;    
 white-space: nowrap;
}